<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMG UR CART</title>
</head>
<body>
    <style>
body {
  background-image: url('https://img.rawpixel.com/private/static/images/website/2022-05/rm200-nunoon-29.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ab722d3e9312410f490a17f15ff07f3c') ;
}



</style>
<img src="https://i.pinimg.com/originals/d8/cc/65/d8cc656d391702ed12326dcd61e58d17.png" , width = 450 , length = 450 >
<h2> item added to cart !!!!!! </h2>

</body>
</html>